<div>
  <div class="container-fluid">
    <div class="banner-area">
      <h1>Gains Season</h1>
      <h2>Click the Membership that works for you</h2>
      <div class="columns" [routerLink]="['/cart1']">
        <ul class="price">
          <li class="header" style="background-color: #cd7f32">Basic Plus</li>
          <li class="grey">$ 24.99 / month</li>
          <li>24 hour access</li>
          <li>Free weights</li>
          <li>Circuit training,</li>
          <li>Cardio</li>
        </ul>
      </div>

      <div class="columns" [routerLink]="['/cart2']">
        <ul class="price">
          <li class="header" style="background-color: silver">Platinum</li>
          <li class="grey">$ 29.99 / month</li>
          <li>24 hour access</li>
          <li>Free weights</li>
          <li>Circuit training</li>
          <li>Cardio</li>
          <li>Group fitness</li>
          <li>Indoor cycling</li>
          <li>Tanning</li>
          <li>Basketball court</li>
          <li>Athletic training</li>
        </ul>
      </div>

      <div class="columns" [routerLink]="['/cart3']">
        <ul class="price">
          <li class="header" style="background-color: gold">Platinum Plus</li>
          <li class="grey">$ 49.99 / month</li>
          <li>24 hour access</li>
          <li>Free weights</li>
          <li>Circuit training</li>
          <li>Cardio</li>
          <li>Group fitness</li>
          <li>Indoor cycling</li>
          <li>Tanning</li>
          <li>Basketball court</li>
          <li>Athletic training</li>
          <li>Tanning</li>
          <li>Play area</li>
          <li>Group training</li>
          <li>Hydro massage</li>
        </ul>
      </div>
    </div>
  </div>
</div>
