<!--Section: FAQ-->
<section>
  <!-- <h3 class="text-center mb-4 pb-2 text-primary fw-bold">FAQ</h3> -->
  <p class="text-center mb-5">Frequently Asked Questions</p>

  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary">
        <i class="far fa-paper-plane text-primary pe-2"></i> Are my Family and
        Friends allowed to use the key card?
      </h6>
      <p>
        Unfortunately, this is against club policy. Your key card is uniquely
        yours.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary">
        <i class="fas fa-pen-alt text-primary pe-2"></i> What is the minimum age
        requirement to join Bailey's Health & Fitness
      </h6>
      <p>
        The minimum age requirement at Bailey's is 15 years old with parental
        consent.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-primary">
        <i class="fas fa-user text-primary pe-2"></i> Are guests allowed at the
        club?
      </h6>
      <p>
        If you are going with a current member, they are allowed a certain
        amount of guests per month depending on their membership. However, we
        also offer a daily rate of $10 for visitors.
      </p>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary">
          <i class="fas fa-rocket text-primary pe-2"></i> May I bring children
          into the gym while I workout?
        </h6>
        <p>
          Yes, select locations have Children Play Area for children between 12
          months to 12 years old.
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary">
          <i class="fas fa-home text-primary pe-2"></i> Can I use other Bailey's
          Gym locations?
        </h6>
        <p>
          If you have the Platinum membership type, you have access to all
          Bailey's gym locations.
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary">
          <i class="fas fa-book-open text-primary pe-2"></i> Is Bailey's Gym
          open 24 hours?
        </h6>
        <p>All locations excluding Atlantic, and Deerwood are open 24 hours.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary">
          <i class="fas fa-book-open text-primary pe-2"></i> How long does it
          take to sign up for a membership?
        </h6>
        <p>Applying for a membership can take anywhere from 5-10 minutes.</p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary">
          <i class="fas fa-book-open text-primary pe-2"></i> Does Bailey's
          Health & Fitness offer Personal Training?
        </h6>
        <p>
          Yes we have an excellent team at Sweat PT, who are there to meet all
          your fitness needs.
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary">
          <i class="fas fa-book-open text-primary pe-2"></i> Is Bailey's Health
          & Fitness open for the Holiday's?
        </h6>
        <p>
          Depending on which holiday, the location may be open for limited
          hours. However, many locations are open 24 hours for memebers to use.
        </p>
      </div>

      <!--Section: FAQ-->
    </div>
  </div>
</section>
