<div class="about-section">
  <h1>Business Background</h1>
  <p>
    Don Bailey, the 1979 Terry Parker high school graduate founded the first
    Bailey’s Health & Fitness. Bailey received a football scholarship for the
    University of Tennessee, after his attendance he went on to play at the
    University of Central Florida. After a football injury in 1981, he was no
    longer able to play on the field. Don Bailey’s dream was to become a gym
    owner. He opened his first-ever gym after moving back to Jacksonville, FL,
    however, it started as a small indoor space for his friends to workout in
    while he attended welding school to build his own gym equipment. After a few
    years, his younger brother Darryl Bailey partnered in 1989, and two years
    later the youngest brother joined, David Bailey. Today, fifteen Bailey’s
    Health and Fitness gyms are open in Jacksonville, FL.
  </p>
  <br /><br />
  <h1>Mission</h1>
  <p>
    Bailey’s commitment is to ensure everyone is taken care of and create a
    ‘feel safe’ zone. We reassure all guests to feel encouraged by the
    atmosphere and bring out their best in their workout. No Judgement. Bailey’s
    Commitment.
  </p>
  <br /><br />
  <h1>We Maintain Your Privacy At Bailey's Gyms</h1>
  <p>
    We are as concerned as you are about your private information. When we
    collect information for business use on our website or in our clubs, we
    fully disclose the reason why we are doing so. At no time will your
    confidential information be given to any other unrelated person or
    association. If you have any questions about our privacy policy, please
    Contact Us.
  </p>
</div>

<h2 style="text-align: center">Executive Board Members</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img
        src="../../../assets/pictures/gymowners.jpeg"
        alt="ceos"
        style="width: 100%"
      />
      <div class="container">
        <h2>David and Darryl Bailey</h2>
        <p class="title">CEO & Founder</p>
        <p>These two brothers founded Baileys and are the current CEO'S</p>
        <p>baileybrothers@baileys.com</p>
        <p>
          <a class="button" href="mailto:baileysbrothers@baileys.com"
            >Contact</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
